streamlit
python-dotenv
langchain==0.3.21
langchain-core==0.3.21
langchain-community==0.3.21
langchain-groq==0.3.3
langchain-tavily==0.3.0
langgraph==0.3.21
qdrant-client
tavily-python
playwright
huggingface-hub
sentence-transformers
mem0ai==0.1.16
grpcio-tools==1.75.1
