streamlit
python-dotenv
langchain==0.3.31
langchain-core==0.3.31
langchain-community==0.3.31
langchain-groq==0.3.3
langchain-tavily==0.2.12
langgraph==0.3.31
qdrant-client
tavily-python
playwright
huggingface-hub
sentence-transformers
mem0ai==0.1.16
grpcio-tools==1.75.1
